<div id="featured" class="featured">
  <div class="container">
    <div class="left">
      <h2>Explore top Crypto's Like Bitcoin, Ethereum, and Dogecoin</h2>
      <p>See all available assets: Cryptocurrencies and NFT's</p>
      <button class="btn">See More Coins</button>
    </div>

    <div class="right">
      <div class="card" *ngFor="let item of data">
        <div class="top">
        <img src="{{item.image}}" alt="">
    <h5>{{item.name}}</h5>
    <p>€{{item.current_price}}</p>
  </div>
  <span class="green? : red"><fa-icon class="icon" [icon]="faArrowUp || faArrowDown"></fa-icon>{{item.price_range}}</span>
 </div>
