<div class="footer">
  <div class="container">
    <div class="col col-1">
      <h1>De<span class="primary">Fi</span></h1>
    </div>
    <div class="col">
      <h5>Support</h5>
      <span class="bar"></span>
        <a routerLink="">Contact Us</a>
        <a routerLink="">Chat</a>
        <a routerLink="">Help Center</a>
        <a routerLink="">FAQ</a>

    </div>
    <div class="col">
      <h5>Developers</h5>
      <span class="bar"></span>
        <a routerLink="">Cloud</a>
        <a routerLink="">Commerce</a>
        <a routerLink="">Pro</a>
        <a routerLink="">API</a>

    </div>
    <div class="col">
      <h5>Company</h5>
      <span class="bar"></span>
        <a routerLink="">About</a>
        <a routerLink="">Information</a>
        <a routerLink="">Legal</a>
        <a routerLink="">Privacy</a>

    </div>
    <div class="col">
      <h5>Social</h5>
      <span class="bar"></span>
        <a href=""><i class="fa-brands fa-facebook icon"></i></a>
        <a href=""><i class="fa-brands fa-twitter icon"></i></a>
        <a href=""><i class="fa-brands fa-github icon"></i></a>
        <a href=""><i class="fa-brands fa-linkedin icon"></i></a>

    </div>
  </div>
</div>
