<div class="header">
  <div class="container">
    <h2>Cryp<span class="primary">Tonik</span></h2>
    <ul [class]="'nav-menu ' + (click ? 'active' : '')">
      <li>
        <a (click)="toHome()" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a (click)="toFeatured()" routerLink="/featured">Featured</a>
      </li>
      <li>
        <a (click)="toEarn()" routerLink="/earn">Earn</a>
      </li>
      <li>
        <a (click)="toContact()" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <div class="btn-group">
      <button class="btn">Contact Wallet</button>
    </div>
    <div class="hamburger" (click)="handleClick()">
      <ng-container *ngIf="click">
    <fa-icon [icon]="faX"></fa-icon>
  </ng-container>
  <ng-container *ngIf="!click">
    <fa-icon [icon]="faBars"></fa-icon>
  </ng-container>
    </div>
  </div>
  </div>

