.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hero .left {
  padding: 2rem;
}

.hero h1 {
  padding: 1rem 0;
}

.hero .input-container {
  padding: 1rem 0;
}

.hero .right {
  padding: 2rem;
}

.hero .img-container {
  width: 100%;
  display: flex;

}

.hero-img {
  width: 40vw;
  height: auto;
  margin: auto;
  
}


@media screen and (max-width: 940px) {
  .hero .container {
    grid-template-columns: 1fr;
  margin: 1rem auto;
  }
}
