<div id="home" class="hero">
  <div class="container">
    <div class="left">
  <p>Buy & Sell Crypto 24/7 using your retirement account</p>
  <h1>Invest in Cryptocurrency with Your IRA</h1>
  <p>Use modern progressive technologies of Bitcoin to earn money</p>
  <div class="input-container">
    <input type="email" placeholder="Enter your Email">
    <button class="btn">Learn More</button>
  </div>
</div>


<div class="right">
  <div class="img-container">
    <img class="hero-img" src="assets/hero-img.png" alt="">
  </div>
</div>
  </div>
</div>



