<div id="earn" class="signup">
  <div class="container">
    <div class="left">
      <img src="assets/trade.png" alt="">
    </div>

    <div class="right">
      <h2>Earn passive income with crypto</h2>
      <p>Earn up to 12% annual on 30+ digital assets. Simply hold your assets in the automatically earn rewards at the end of each month with no lockups and no limits.</p>
    <div class="input-container">
      <input type="email" placeholder="Enter your email">
      <button class="btn">Learn More</button>
    </div>
    </div>


  </div>
</div>
